{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{% block titulo %}
            Preentrega3
            {% endblock titulo %}
        </title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'Coder/assets/favicon.ico'%}" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'Coder/css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-5">
                <a class="navbar-brand" href="#!">Bienvenido a FutWeb</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'index' %}">Inicio</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'equipo_list' %}">Equipos</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'jugador_list' %}">Jugadores</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'torneo_list' %}">Torneos</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        
        <!-- Page Content-->
        <div class="container px-4 px-lg-5">
            <!-- Heading Row  -->
            <div class="row gx-4 gx-lg-5 align-items-center my-5">
                <div class="col-lg-7"> {% block contenido %} {% endblock contenido %} </div>
                <div class="col-lg-5">
                    <h1 class="font-weight-light">FutWeb</h1>
                    <p>Esta es una web para aquellos amantes del futbol que quieran armar torneos con distintas categorias y equipos. Una vez registrado los jugadores, equipos y torneos, podras ubicar cada jugador con su equipo y cada equipo en un torneo en los botones a continuacion:</p>
                    <a class="btn btn-primary" href="{% url 'equipoportorneo_form' %}">Equipo en torneo</a>   <a class="btn btn-primary" href="{% url 'jugadorporequipo_form' %}">Jugador en el equipo</a>
                </div>
            </div>
            




            <!-- Call to Action-->
            <div class="card text-white bg-secondary my-5 py-4 text-center">
                <div class="card-body"><p class="text-white m-0">En la parte inferior de la pantalla podras registrar tu equipo, jugador o torneo.</p></div>
            </div>
            <!-- Content Row-->
            <div class="row gx-4 gx-lg-5">
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Registrar Jugador</h2>
                            <p class="card-text">En esta seccion podras registrar jugadores donde tendras que poner su nombre, apellido, club y numero de camiseta.</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm" href="{% url 'jugador_form' %}">Registrar</a></div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Registrar Equipo</h2>
                            <p class="card-text">En esta seccion podras registrar tu equipo donde tendras que poner su nombre, cantidad de jugadores y division a la que pertenece.</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm" href="{% url 'equipo_form' %}">Registrar</a></div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Registrar Torneo</h2>
                            <p class="card-text">Aca podras registrar tu torneo donde tendras que poner a que categoria pertenece (segun edad)y a que division (A,B,etc).</p>
                        </div>
                        <div class="card-footer"><a class="btn btn-primary btn-sm" href="{% url 'torneo_form' %}">Registrar</a></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container px-4 px-lg-5"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'Coder/js/scripts.js' %}"></script>
    </body>
</html>
