<div class="col-md-4 mb-5">
    <div class="card h-100">
        <div class="card-body">
            <h2 class="card-title">Registrar Jugador</h2>
            <p class="card-text">En esta seccion podras registrar jugadores donde tendras que poner su nombre, apellido, club y numero de camiseta.</p>
        </div>
        <div class="card-footer"><a class="btn btn-primary btn-sm" href="{% url 'jugador_form' %}">Registrar</a></div>
    </div>
</div>
<div class="col-md-4 mb-5">
    <div class="card h-100">
        <div class="card-body">
            <h2 class="card-title">Registrar Equipo</h2>
            <p class="card-text">En esta seccion podras registrar tu equipo donde tendras que poner su nombre, cantidad de jugadores y division a la que pertenece.</p>
        </div>
        <div class="card-footer"><a class="btn btn-primary btn-sm" href="{% url 'equipo_form' %}">Registrar</a></div>
    </div>
</div>
<div class="col-md-4 mb-5">
    <div class="card h-100">
        <div class="card-body">
            <h2 class="card-title">Registrar Torneo</h2>
            <p class="card-text">Aca podras registrar tu torneo donde tendras que poner a que categoria pertenece (segun edad)y a que division (A,B,etc).</p>
        </div>
        <div class="card-footer"><a class="btn btn-primary btn-sm" href="{% url 'torneo_form' %}">Registrar</a></div>
    </div>
</div>